*{
   box-sizing: border-box;
   margin: 0%;
}

.navbar {
    font-size: 24px;
    font-weight: 600;
}

a:hover {
    color: #0D6EFD! Important;;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
}

body > div.container > div.row.cards {
    box-shadow: 8px 5px 12px #0D6EFD;
    border: 0;
    text-align: center;
}
div.row.cards .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

@media (max-width: 321px) {
    #header-section > nav > div {
        flex-direction: column;
        align-items: flex-start
    }
}  